.placemarker-popup {
  color:#555555;
  font:500 13px 'Source Sans Pro';
  line-height:14px;
}
.placemarker-popup-title {
  position: relative;
  left: 20px;
  color:#fe8800;
  font:800 15px 'Source Sans Pro';
  line-height:16px;
}


.placemarker-form {
  padding-top: 10px;
}
.placemarker-form .placemarker-form-input,
.placemarker-form .placemarker-form-submit {
  display: table-cell;
}
.placemarker-form .placemarker-form-input {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 19px;
  border: 1px solid #cccccc;
  border-radius: 3px 0 0 3px;
}
.placemarker-form .placemarker-form-input,
.placemarker-form .placemarker-form-input:focus {
  outline-color: transparent;
  outline-style: none;
}
.placemarker-form .has-error {
  border-color: #a94442;
}
.placemarker-form .placemarker-form-submit {
  border: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 -2px -2px;
  position: relative;
  top: 1px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  height: 1.45em;
}
.placemarker-form .placemarker-form-submit.disabled {
  background-color: #efefef;
}
.placemarker-form .placemarker-form-submit.disabled .icon-checkmark {
  opacity: 0.5;
}
.placemarker-form .placemarker-form-coords {
  margin-top: 8px;
  font:500 13px 'Source Sans Pro';
  line-height:14px;
  color: #777777;
}
