/*body { margin:0; padding:0; background-color: #C6C6C6; }
h1 {
	margin-top: .8em;
	margin-bottom: .4em;
	font-family: "Roboto Slab", serif;
	font-weight: lighter;
	color: #3787D0;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.6em;
	letter-spacing: .03em;
}
a {
	color: #E9564D;
}*/
