/* Public map css*/
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	background: #3D3D3D;
}
body {
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	color:#3D3D3D;
	font-family: "Roboto Slab", serif;
	font-size: 1em;
	font-weight: 500;
}
h1 {
	-webkit-font-smoothing: antialiased;
	margin-top: .01em;
	margin-bottom: .01em;
	font-family: "Roboto Slab", serif;
	font-weight: 600;
	font-size: 2.5em;
	text-align: center;
	line-height: 2.6em;
	letter-spacing: .04em;
	color: #33A6FF;
}
a:link {
	color: #33A6FF;
}
a:visited {
	color: #33A6FF;
}
a:hover {
	color: #2B90DE;
}
a:active {
	color: #2B90DE;
}
#map{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
