/*@import url("css/leaflet.css");*/
@import url('../node_modules/leaflet/dist/leaflet.css');
@import url('../node_modules/leaflet-minimap/dist/Control.MiniMap.min.css');
@import url('../node_modules/sidebar-v2/css/leaflet-sidebar.min.css');
@import url('../node_modules/leaflet-control-geocoder/dist/Control.Geocoder.css');
@import url('../node_modules/leaflet-routing-machine/css/leaflet-routing-machine.css');
@import url("../node_modules/mapillary-js/dist/mapillary.min.css");
@import url("css/mapskin.css");
@import url("css/cozymap.css");

/*
Cozy Color
primary				= #33A6FF
primary-dark	 = #2B90DE
head					 = #32363f
darker				 = #3D3D3D
translucide		= rgba(42, 42, 42, 0.4)
base					 = #86888B
light					= #F8F9F9
lighter				= #fff
*/

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	background: #F8F9F9;
}
body {
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	color:#3D3D3D;
	background-color: #F8F9F9;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1em;
	font-weight: 400;
}
h1{
	font-weight: 600;
	color: #33A6FF;
}
h2, h3 {
	font-weight: 500;
}
hr {
	height: 1px;
	background: #86888B;
	border: 0;
}
a:link {
	color: #33A6FF;
}
a:visited {
	color: #33A6FF;
}
a:hover {
	color: #2B90DE;
}
a:active {
	color: #2B90DE;
}

/*** custom checkboxes ***/
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;
}

input[type=checkbox] + label:before { content: "\f204"; }
input[type=checkbox] + label:before { letter-spacing: 10px; }

input[type=checkbox]:checked + label:before { content: "\f205"; }
input[type=checkbox]:checked + label:before { letter-spacing: 5px; }
input[type=checkbox]:checked + label:before { color: #33A6FF; }


/*Serch query*/
.searchquery {
	text-align: center;
}
	.searchqueryion {
		cursor: pointer;
		color: #000;
}
	.searchqueryioff {
		cursor: default;
		color: #33A6FF;
}
.search-divhidden {
		width:100%;
		display: none;
}
.search-divshow {
		width:100%;
		display:block;
}

.divtiles {
	color: #33A6FF;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
}

/* layers control */
.leaflet-control-layers {
	box-shadow: none;
	background: rgba(255, 255, 255, 0);
	border-radius: 0;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 5px;
	height: 5px;
	}

/*Leaflet custom overiding*/
.uiconPopupcss .leaflet-popup-tip,
.uiconPopupcss .leaflet-popup-content-wrapper {
		background: #3D3D3D;
		color: #F8F9F9;
		text-align: center;
}

#map {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
}

/*MiniMap.css*/
.leaflet-control-minimap {
	border: none;
	box-shadow: none;
	border-radius: 5px;
	background: #F8F9F9;
	transition: all .2s;
}

/*Zoom Leaflet-bar*/
.leaflet-bar {
	box-shadow: none;
	border-radius: 5px;
}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: rgba(42, 42, 42, 0.4);
	border-bottom: none;
	width: 40px;
	height: 40px;
	line-height: 1.45 !important;
	padding-top: 8px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #F8F9F9;
	font-size: 1.3em;
	font-weight: bold;
}

/*Circle Icones*/
.leaf-circle-icon {
	background-color: rgba(42, 42, 42, 0.4);
	border-radius: 100px;
	width: 40px;
	height: 40px;
	line-height: 1.45 !important;
	padding-top: 6px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #F8F9F9;
	font-size: 1.3em;
	font-weight: bold;
}
.leaf-circle-icon a,
.leaf-circle-icon a:hover {
	color: #F8F9F9;
}

/*overiding leaflet.sidebar*/
.sidebar {
	top: 0;
	bottom: 0;
	left: 0;
}
.sidebar.collapsed {
	width: 0;
}
.sidebar-tabs {
	background-color: rgba(255, 255, 255, 0.7);
}
.sidebar-tabs > li, .sidebar-tabs > ul > li {
	width: 100%;
	height: 40px;
	color: #333;
	font-size: 18pt;
	overflow: hidden;
	transition: all 80ms; }
	.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
		color: #33A6FF;
		background-color: rgba(255, 255, 255, 0.0); }
		.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
			color: #33A6FF;
			background-color: rgba(255, 255, 255, 0.0);
		}
		.sidebar-content {
			color: #3D3D3D;
		}
		.sidebar-left .sidebar-content {
			background-color: rgba(255, 255, 255, 0.7);
		}
		.sidebar-header {
			margin: -10px -20px 0;
			height: 40px;
			padding: 0 20px;
			line-height: 40px;
			font-size: 14.4pt;
			color: #fff;
			background-color: #32363f;
		}
		.sidebar-left ~ .sidebar-map {
			margin-left: 0;
		}
		.sidebar {
			box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
		}
		.sidebar.leaflet-touch {
		}
		@media (min-width: 768px) {
			.sidebar {
				border-radius: 1px;
			}
		}
		@media (min-width: 768px) {
			.sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
				left: 0;
			}
		}

/*leaflet search geocoder overriding*/
.leaflet-control-geocoder a, .leaflet-control-geocoder .leaflet-control-geocoder-icon {
	background-color: transparent;
	border-radius: 0;
	border-bottom: none;
	display: inline-block;
}
.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
	width: inherit;
	height: inherit;
	line-height: inherit;
	color: #3D3D3D;
	font-size: 16px;
}
.leaflet-control-geocoder-form {
	display: none;
	vertical-align: middle;
	position: relative;
}
.leaflet-control-geocoder-form:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 22px;
	color: #33A6FF;
	padding-right: 30px;
	position:absolute;
	top: 0;
	left: 0;
}
.leaflet-control-geocoder-form input {
	font-size: 1.2em;
	font-weight: 500;
	color: #3D3D3D;
	border: 0;
	padding-left: 30px;
	background-color: transparent;
	width: 100%;
}
.leaflet-control-geocoder-icon {
	background-image: none;
	background-repeat: no-repeat;
	background-position: left;
	width: 0;
	height: 0;
}
.leaflet-control-geocoder-alternatives li:hover, .leaflet-control-geocoder-selected {
	background-color: rgba(201, 201, 201, 0.01);
	color: #3D3D3D;
}
.leaflet-control-geocoder-address-detail {
	color: #000;
}
.leaflet-control-geocoder-address-context {
	color: #33A6FF;
	font-size: 14px;
}


/*leaflet routing machine css overide*/
.leaflet-routing-geocoders input {
		width: 303px;
		width: calc(100% - 4px);
		line-height: 1.67;
		border: 1px solid rgba(196, 196, 196, 0.5);
		background-color: rgba(196, 196, 196, 0.5);
}
.leaflet-routing-remove-waypoint:after {
	position:absolute;
	display: block;
	width: 30px;
	height: 100%;
	z-index: 1;
	right: 1px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
	content: "\00d7";
	text-align: top;
	cursor: pointer;
	color: #33A6FF;
	background: #86888B;
	padding-bottom: 32px;
	margin-top: -18px;
	padding-right: 2px;
	line-height: 1.67;
}
.geocoder-geolocate-btn{
	position:absolute;
	display: block;
	width: 30px;
	height: 32px;
	z-index: 1;
	right: 32px;
	top: -1;
	bottom: 0;
	margin: auto;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	color: #33A6FF;
	background: #86888B;
	padding-bottom: -32px;
	margin-top: -32px;
	margin-bottom: -32px;
	padding-top: 5px;
	line-height: 1.67;
	float: right;
}


.leaflet-routing-geocoders button {
		font-size: 120%;
		border: 0 solid #ccc;
		border-radius: 0;

		background-color: rgba(196, 196, 196, 0.5);
		margin: 0;
		margin-right: 3px;
		float: right;
		cursor: pointer;
		transition: background-color 0.2s ease;
}
.leaflet-routing-container, .leaflet-routing-error {
		width: inherit;
		background-color: rgba(255, 255, 255, 0);
		padding-top: 2px;
		transition: all 0.2s ease;
		box-sizing: border-box;
}

.geocoder-iplace {
		padding: 0;
		width:20px;
		height:20px;
		border-radius:50%;
		font-size:12px;
		font-weight: bold;
		background:#da8;
		line-height:20px;
		text-align:center;
		color:#33A6FF;
		display: inline-block;
		cursor: pointer;
}

.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
		padding: 1px;
		margin-top: 2px;
		margin-bottom: 6px;
		border-bottom: 0 solid #000;
		max-height: inherit;
		overflow-y: auto;
		transition: all 0.2s ease;
}
.leaflet-routing-alt tr:hover {
		background-color: rgba(196, 196, 196, 0.5);
		cursor: pointer;
}
.leaflet-routing-geocoders div {
		padding: 0 0 0 0;
		background-color: rgba(196, 196, 196, 0.5);
}
.leaflet-routing-geocoders input {
		width: inherit;
		width: calc(100% - 20px);
		line-height: 2.11;
		border: 0 solid #ccc;
}
.leaflet-routing-geocoders input,.leaflet-routing-remove-waypoint,.geocoder-geolocate-btn,.leaflet-routing-geocoder {
		position: relative;
}

.leaflet-routing-geocoder-result {
		font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
		position: absolute;
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s ease;
		z-index: 2000; /* Arbitrary, but try to be above "most" things. */
}
.leaflet-routing-geocoder-result table {
		width: 100%;
		height: 100%
		border: 0 solid #ccc;
		border-radius: 0 0 0px 0px;
		background-color: rgba(196, 196, 196, 0.5);
		cursor: pointer;
}
.leaflet-routing-geocoder-result-open {
		max-height: 100%;
}
.leaflet-routing-geocoder-no-results {
		font-style: italic;
		color: #970CE2;
}

/*overiding leaflet-control-geocoder*/
/*todo remove the icon*/
.leaflet-control-geocoder {
	background-color: rgba(196, 196, 196, 0.5);
}
.leaflet-control-geocoder-form input {
	font-size: 100%;
	border: 0;
}
.leaflet-control-geocoder-error {
	margin-top: 2px;
	margin-left: 45px;
	display: block;
	color: #C122F9;
}


/*Sync Contacs*/
.logoCozy {
	cursor: pointer;
	height: auto;
	width: auto;
}

/*OverPass: Custom query with OverPass API*/
.overinput[type=text] {
	background: rgba(196, 196, 196, 0.5);
	color: #3D3D3D;
	width: 79%;
	height: 34px;
	font-size: 100%;
	margin: 3px 0 0 0;
	border: none;
}
.overinputval[type=submit] {
	background: #86888B;
	color: #33A6FF;
	width: 12%;
	height: 34px;
	font-size: 100%;
	margin: 0 0 0 0;
	border: none;
	cursor: pointer;
}
.overinputref {
	color: #33A6FF;
	cursor: pointer;
	position:relative;
}
.overinputref:before {
	content: "\f021";
	font-family: FontAwesome;
	font-size: 22px;
	padding-left: 0.5em;
	position:absolute;
	top: -18px;
	left: 0;
}
.dropMarker {
	background-image: url('images/pinpoi.png');
	background-position: center;
	background-size: 26px 35px;
	background-repeat: no-repeat;
	margin: 0;
	display: inline-block;
	align-items: center;
	width: 36px;
	height: 35px;
	cursor: pointer;
}

/*OverPass: Custom Tiles Layers*/
.newmapadd {
	align-items: center;
	width: 100%;
}
.nrminput[type=text] {
	background: rgba(196, 196, 196, 0.5);
	color: #3D3D3D;
	width: 90%;
	height: 34px;
	font-size: 100%;
	margin: 3px 0 0 0;
	border: none;
}
.nrminputval[type=submit] {
	background: #86888B;
	color: #33A6FF;
	width: 10%;
	height: 34px;
	font-size: 100%;
	margin: 0 0 0 0;
	border: none;
	cursor: pointer;
}


/*Mapillary*/
#mapi {
	background-color: rgba(42, 42, 42, 0.4);
	border-radius: 100px;
	width: 40px;
	height: 40px;
	line-height: 1.45 !important;
	padding-top: 6px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #F8F9F9;
	font-size: 1.3em;
	font-weight: bold;
	cursor: pointer;
	z-index: 999;
	position: fixed;
	bottom: 212px;
	right: 10px;
}
.logoMapillary {
		width: 24px;
		height: 26px;
}
.logoMapillary path {
	fill: #F8F9F9;
}
.logoMapillary:hover path {
		fill: #36AF6D;
}

.unselectable {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}
#minimize {
	position: absolute;
	right: 5%;
	top: 12px;
	transform: translate(-5%, 0);
	display: flex;
	flex: auto;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: rgb(36, 37, 40);
	background-color: RGBA(36, 37, 40, 0.3);
	color: #EBEBEB;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	line-height: 1.5em;
	font-weight: lighter;
	font-size: 1em;
	margin: 0;
	width: 50px;
	height: 26px;
	z-index: 999999;
}
#maxamize {
	position: absolute;
	left: 5%;
	top: 12px;
	transform: translate(-5%, 0);
	display: flex;
	flex: auto;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: rgb(36, 37, 40);
	background-color: RGBA(36, 37, 40, 0.3);
	color: #EBEBEB;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	line-height: 1.5em;
	font-weight: lighter;
	font-size: 1em;
	margin: 0;
	width: 50px;
	height: 26px;
	z-index: 999999;
}
.mly-wrapper {
		display: block;
		border-radius: 5px;
		position: fixed;
		background-color: #5D6671;
		bottom: 10px;
		right: 10px;
		height: 192px;
		width: 320px;
		z-index: 999;
		word-wrap: break-word;
		border-style: solid;
		border-width: medium;
		border-color: rgba(172, 172, 172, 0.7);
}
.mapillary-js {
		position: fixed;
		bottom: 10px;
		right: 10px;
		height: 192px;
		width: 320px;
		z-index: 1000;
}
#mly {
	/*height: calc(100% - 10px);*/
	height: inherit;
	width: inherit;
	left: inherit;
	right: 10px;
	word-wrap: break-word;
	border-radius: 5px;
}
#reduced {
position: absolute;
right: 5%;
top: 12px;
transform: translate(-5%, 0);
display: flex;
flex: auto;
align-items: center;
justify-content: center;
cursor: pointer;
background: rgb(36, 37, 40);
background-color: RGBA(36, 37, 40, 0.3);
color: #EBEBEB;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
border-top-right-radius: 100px;
border-bottom-right-radius: 100px;
line-height: 1.5em;
font-weight: lighter;
font-size: 1em;
margin: 0;
width: 50px;
height: 26px;
z-index: 999999;
}

/* Custome Sprites for mapping and mapillary */

.marker-red,
.marker-blue,
.pkey-sbig,
.pkey,
.pkey-a,
.pkey-hl,
.pkey-hls

{ display: inline-block;
	background: url('images/sprites.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left; }

.marker-red { background-position: -1px -0px; width: 52px; height: 70px; }
.marker-blue { background-position: -1px -213px; width: 37px; height: 50px; }
.pkey-sbig { background-position: -1px -264px; width: 26px; height: 33px; }
.pkey { background-position: -28px -264px; width: 18px; height: 24px; }
.pkey-a { background-position: -28px -289px; width: 18px; height: 26px; }
.pkey-hl { background-position: -1px -71px; width: 52px; height: 70px; }
.pkey-hls { background-position: -1px -142px; width: 52px; height: 70px; }
